<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" href="./css/styles.css">
      <script src="/js/app.js"></script>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>heroku update</p>
      <h1>{{ title }}</h1>
      <h2>{{ name }}</h2>
    <img class="portrait" src="/images/lion.jpg" alt="">

    </div>
  </body>
    {{>footer}}
</html>
